.globalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.globalForm p {
  font-size: 3em;
  margin-bottom: 10px;
}

.globalForm input {
  padding: 18px;
  background: none;
  color: #fff;
  border-bottom-right-radius: 30px;
  font-size: 1em;
}
